<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="300" >
    <link  rel="stylesheet" href="bootstrap.min.css">
    <link href="sb-admin-2.css" rel="stylesheet">
    <title>Page Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Testnet<span>444444444</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                Node1,Node1,Node1,Node1,Node1
            </div>
            <div class="col-lg-4">
                Log area
            </div>
        </div>  
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Mainnet<span>555555555</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                Node1,Node1,Node1,Node1,Node1
            </div>
            <div class="col-lg-4">
                Log area
            </div>
        </div>




        
    </body>
    </html>

