<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="300" >
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <title>{{lisk_servers.status}} / {{lisk_servers.name}}</title>
</head>
<body>
<header class="container">
        <span class="page-header">
            <h3 class="well">Delegate: {{delegate.name}} / Rank {{delegate.rank}}</h3>
        </span>
</header>


<section class="container">

	<div class="jumbotron">	
        <h1>Testnet <span class="label label-success">{{ref_servers[0].status}}</span></h1>
	
	{% for lisk_server in lisk_servers if lisk_server.net == "testnet" %}
	
	{% if lisk_server.status and lisk_server.name =="C Local" %}
			<h2>{{lisk_server.name}} : <span class="label label-success">{{lisk_server.status}}</span></h2>
			<span><p>Forged block:{{last_forged[0]}} at {{last_forged[1]|round}}</p></span>
	    {% elif lisk_server.status %}
			<h2>{{lisk_server.name}} : <span class="label label-success">{{lisk_server.status}}</span></h2>
    	    {% else %}
			<h2>{{lisk_server.name}} : <span class="label label-danger">Critical</span></h2>
            {% endif %}

	{% endfor %}

	</div>


	<div class="jumbotron">
	<h1>Mainnet <span class="label label-success">{{ref_servers[1].status}}</span></h1>

	{% for lisk_server in lisk_servers if lisk_server.net == "mainnet" %}
	

	    {% if lisk_server.status %}
			<h2>{{lisk_server.name}} : <span class="label label-success">{{lisk_server.status}}</span></h2>
    	    {% else %}
			<h2>{{lisk_server.name}} : <span class="label label-danger">Critical</span></h2>
	    {% endif %}

            
	{% endfor %}
	

	</div>


    <!-- p class="lead">IP Address: <a class="btn btn-lg btn-success" href="{{lisk_servers.url}}" role="button">{{lisk_servers.host}}</a> / Port:{{lisk_servers.port}} </p>

    
    {%for server in ref_servers%}
          <h3><code>{{server.name}} : {{server.status}}</code></h3>
    {%endfor%}
    -->
</section>


<section class="container">
    <div class="jumbotron"> <h3>BTC_LSK</h3>
     <p class="label label-success">Last : {{ poloniex['last'] }}</p>
     <p class="label label-prmary"> High : {{ poloniex['highestBid'] }}</p>
     <p class="label label-info">Low : {{ poloniex['lowestAsk'] }}</p>
    </div>
</section>

<footer class="container">
    <div>this is the footer</div>
</footer>
</body>
</html>
